.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /* border: 1px solid red; */
  position: sticky;
  top: 0;
}

.header__menu {
  display: none;
}

.header__name {
  font-size: var(--size-xs);
  text-decoration: none;
  font-weight: 600;
  letter-spacing: -0.05em;
  color: var(--color-shade400);
  margin-right: auto;
  user-select: none;
  letter-spacing: 0.01rem;
}

.header__bars {
  color: var(--color-light);
  width: var(--size-2xl);
  height: var(--size-2xl);
  display: block;
}

.header__sun:hover {
  color: var(--color-alt1);
}

/* xs */
/* @media (min-width: 475px) {
  } */

/* sm */
/* @media (min-width: 640px) {
  } */

/* md */
@media (min-width: 768px) {
  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    gap: 2em;
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 500;
    color: var(--color-shade600);
    letter-spacing: -0.05em;
    transition: color 0.6s;
  }

  .header__link:hover {
    color: var(--color-alt1);
  }

  .header__line {
    border: 1px solid var(--color-shade600);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    color: var(--color-shade600);
    width: var(--size-base);
    height: var(--size-base);
    transition: color 0.6s;
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__name {
    margin-right: auto;
    font-size: var(--size-base);
  }

  .header__link {
    font-size: var(--size-base);
  }

  .header__sun {
    width: var(--size-xl);
    height: var(--size-xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {
  } */

/* 2xl */
/* @media (min-width: 1536px) {
  } */
